nz-layout {
  width: 100%;
  height: 100%;
}

.main {
  margin: auto;
  background-color: white;
  padding: 2rem;
}

.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logo {
  background: rgba(255, 255, 255, 0.2);
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;

  span {
    font-size: xx-large;
  }
  i {
    font-size: 60px;
  }
}
