<div class="logo">
  <div nz-row>
    <div nz-col nzSpan="16" nzOffset="4">
      <i nz-icon nzType="shopping"></i>
      ShoopingCart
    </div>
  </div>
</div>
<ul nz-menu nzTheme="dark" nzMode="inline">
  <li nzMatchRouter="true" nzSelected="true" nz-menu-item routerLink="./shop">
    <i nz-icon nzType="shopping"></i>
    <span>Shopping</span>
  </li>
  <li nzMatchRouter="true" nzSelected="true" nz-menu-item routerLink="./cart">
    <i nz-icon nzType="shopping-cart"></i>
    <span>My Cart</span>
  </li>
</ul>
