<nz-card [nzCover]="coverTemplate" [nzTitle]="product.sku" [nzActions]="[actionSetting]" [nzExtra]="deleteActionTemplate">
  <nz-card-meta
    [nzTitle]="product.name"
    [nzDescription]="description "
  ></nz-card-meta>
</nz-card>
<ng-template #coverTemplate>
  <img alt="product-item" src="assets/imgs/product-item.png" />
</ng-template>
<ng-template #deleteActionTemplate>
  <ng-container *ngIf="isModeTwo">
    <button nz-button nzType="primary" nzShape="circle" nzDanger (click)="deleteProduct()">
      <i nz-icon nzType="delete"></i>
    </button>
  </ng-container>
</ng-template>
<ng-template #actionSetting>
  <nz-input-number [(ngModel)]="quantity" [nzMin]="1" [nzMax]="10" [nzStep]="1"></nz-input-number>
  <button nz-button class="login-form-button login-form-margin" nzType="primary"
          [disabled]="loading$ | async"
          (click)="addToCart()"
  >
    <nz-spin *ngIf="(loading$ | async)" nzSimple></nz-spin>
    <span *ngIf="!(loading$ | async)">{{textButton}}</span>
  </button>
</ng-template>
